<header class="p-3   bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
            <a class="navbar-brand text-danger pe-4" href="{% url 'index' %}">КИНОМАНИЯ</a>
            <a class="navbar-brand text-danger pe-4" href="{% url 'index' %}">О Разработчика</a>
            <a class="navbar-brand text-danger pe-4" href="{% url 'index' %}">Контакты</a>
            <a class="navbar-brand text-danger pe-4" href="{% url 'index' %}">Обратная связь</a>
            <a class="navbar-brand text-danger pe-4" href="{% url 'index' %}">Новости</a>



            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex justify-content-end">
                {% if user.is_authenticated %}
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                {% endif %}
            </form>

            <div class="dropdown text-end">
                {% if user.is_authenticated %}
                <a href="#" class="d-block link-danger text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.photo.url}}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                {% endif %}
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'article_add' %}">Добавить кино</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'signup' %}">Регистрация</a></li>
                    <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>